.mainContentsGuide {
  display: block;
  position: absolute;
  top: -100px;
  width: 100vw;
}

.mainContentsGuide:focus-visible {
  background: #fff;
  outline-offset: -5px;
  top: 0;
  text-align: center;
  line-height: 5rem;
  z-index: 9999999;
} 

.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 5rem;
  justify-content: space-between;
  line-height: 1;
  padding: 12px 0;
}

.header h1 {
  font-size: 1.25rem;
  line-height: 52px;
}

.header a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

.header nav ul {
  display: flex;
  gap: 1rem;
}

.header nav a {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}
