.footer {
  background: #f2f2f2;
  padding: 1rem 0;
}

.footerContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: #616161;
}

.footerContainer a {
  color: inherit;
  font-size: 0.875rem;
  padding: 0.5rem 0;
}

.footerContainer small {
  font-size: 0.875rem;
}
